:root {
}

body {
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color : grey;
    line-height:1.5;
    padding:0;
    margin:0;
    height: 100vh;
    max-width:100vw;
    overflow: auto;
}

p {
    padding:0;
    margin:0;
}

a{
    text-decoration: none;/*i know its dirty*/
}

section {
    width:100%;
}
.container {
    width:80%;
    margin:auto;
    overflow:hidden;
}

.flex-box {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
    width:100%;
}

.col {
    flex-basis: 20em;
    flex-grow:1;
    margin:1em;
    margin-left:3em;
    max-width:40em;
}

h1{
    font-family: 'Oswald', Impact, Charcoal, sans-serif;
    color:rgb(255,69,0);
    font-size: 2rem;
    padding:0;
    margin:0;
    display:inline;
}

#title {
    float:left;
    color:rgb(255,69,0);
    text-align: center;
    padding:0;
    margin-top:0;
}

h2{
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
    color:rgb(128, 128, 128);
    font-size:1rem;
    padding:0;
    margin:0;
    display:inline;
}

h3 {
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
    color:rgb(128, 128, 128);
    font-size:1.5rem;
    margin:0;
    padding:2em 0 0.5em 0;
}

h3 span{
    color:rgb(255,69,0);
}
/*header {
    padding-top:2em;
    min-height:3em;
    border-bottom:grey 0.4em solid;
    width:100%;
}*/

nav {
    float:right;
    text-align: right;
    padding:0;
    margin:0;
    margin-top:1.25em;
}

nav ul {
    padding:0;
    margin:0;
}
nav li {
    display: inline;
    padding:0;
    margin:1em;
}

nav li a {
    color:grey;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
}

nav li a:hover{
    color:rgb(255,69,0);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    float:left;
    padding:0;
    margin:0;
    font-size: 0.75rem;
    position: fixed;
    bottom: 0;
}

footer ul {
    float:right;
    padding:0;
    margin:0;
}

footer ul li {
    display: inline;
    padding:0;
    margin:0;
}

footer img{
    width:2em;
    padding:0;
    margin:0;
}



