:root {
}

/*
*{border: 1px solid black;}/*the fix all solution every webpage needs*/


body {
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color : grey;
    line-height:1.5;
    padding:0;
    margin:0;
    height: 100vh;
    max-width:100vw;
    overflow: auto;
}

p {
    padding:0;
    margin:0;
    margin-bottom:1em;
}

a{
    text-decoration: none;/*i know its dirty*/
    color: rgb(255,69,0);
}

button {
    background: none;
    color:inherit;
    border:0;
    padding:0;
    outline:inherit;
    cursor:pointer;
}
.container {
    width:90%;
    margin:auto;
    overflow:hidden;
}

.flex-box {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /*min-height: 70vh;*/
    width: 95%;
    /*margin-bottom:2em;*/
}

.project .flex-box {
    align-items: stretch;
}

.col .flex-box {
    min-height:0;
}

.text .col {
    flex-basis: 20em;
    flex-grow:1;
    flex-shrink: 1;
    margin:1em;
    margin-left:1em;
    max-width:40em;
}



.text .col-s {
    /*flex-basis: 15em;
    flex-grow:0;
    margin:1em;
    max-width:20em;*/
    position: relative;
    width: 33vw;
    flex-grow:1;
    min-height: 5em;
    height:auto;
    margin:1.5em;
}

.text .col-b {
    position: relative;
    width: 100%;
    min-height: 5em;
    height:auto;
    margin:1.5em;
}

.overContainer {
    position: relative;
    width: 100%;
    height:100%;
}

.underlay {
    display: block;
    width:100%;
    height:auto;
    min-height: 5em;
}

.col-s h4 {
    width:100%;
    border-bottom:.2em solid rgb(255,69,0);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255,69,0);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .col-s:hover .overlay {
    height: 100%;
  }

  .overlay .content {
        white-space: nowrap; 
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
  }

  .overlay .content img {
      width:2em;
      margin:1em;
  }

  .underlay .touch img{
    width:2em;
    margin:0;
  }

  .underlay .touch {
      position: absolute;
      bottom:0;
      right:0;
  }

  .overlay .content h4 {
      color:white;
  }

.freeText {margin:1em;
}

h1{
    font-family: 'Oswald', Impact, Charcoal, sans-serif;
    color:rgb(255,69,0);
    font-size: 2rem;
    padding:0;
    margin:0;
    display:inline;
}

#title {
    float:left;
    color:rgb(255,69,0);
    text-align: center;
    padding:0;
    margin-top:0;
}

h2{
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
    color:rgb(128, 128, 128);
    font-size:1rem;
    padding:0;
    margin:0;
    display:inline;
}

h3 {
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
    color:rgb(128, 128, 128);
    font-size:1.5rem;
    margin:0;
    padding:0;
    padding-top:1em;
}

h4 {
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
    color:rgb(128, 128, 128);
    font-size:1.1rem;
    margin:0;
    padding:0;
}

h3 span{
    color:rgb(255,69,0);
}
/*header {
    padding-top:2em;
    min-height:3em;
    border-bottom:grey 0.4em solid;
    width:100%;
}*/

.header { 
    position: fixed;
    top:0;
   width: 100%;
    display:block;
    z-index:9;
    background-color: white;
}

#home {
    /*background: white url("/Assets/background2.jpg") no-repeat center;*/
    background-size: 100% auto;
}

iframe {
    margin: 0;
    padding: 0;
    float: left;
}


nav {
    float:right;
    text-align: right;
    padding:0;
    padding-right: 2em;
    margin:0;
    margin-top:1.25em;
}

nav ul {
    padding:0;
    margin:0;
}
nav li {
    display: inline;
    padding:0;
    margin:1em;
}

nav li a {
    color:grey;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
}

nav li a:hover{
    color:rgb(255,69,0);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    float:left;
    padding:0;
    margin:0;
    font-size: 0.75rem;
    position: fixed;
    bottom: 0;
}

footer ul {
    float:right;
    padding:0;
    margin:0;
}

footer ul li {
    display: inline;
    padding:0;
    margin:0;
}

footer img{
    width:2em;
    padding:0;
    margin:0;
}

.skills {
    position: absolute;
    bottom: 0.5em;
    left:0;
}

.skills p{
    margin:0;
    font-style: italic;
}


.contact ul {
    float: left;
    padding:0;
    margin:0;
}

.contact ul li {
    display: inline;
    padding:0.25em;
    margin:0;
}

.contact img{
    width:2em;
    padding:0;
    margin:0;
}




iframe {
    width: 10em;
    min-width: 95%;
}

.profile {
    position: relative;
    width: 100%;
    border-radius: 50%;

}

@media screen and (max-width: 1080px) {
    .container {
        width: 100%;
    }

    p{
        font-size: 1rem;
    }

}