@media only screen and (max-width:640px) {
    h1{
        font-size:2rem;
        display:block;
    }
    h2{
        font-size:1rem;
        display:block;
    }

    #title {
        text-align: center;
        width:100%;
    }
    nav {
        display: block;
        float:center;
        text-align: center;
        width:100%;
    }
    .contact img{
        width:25vw;
        padding:0;
        margin:0;
    }

    .flex-box {
        width: 100%;
    }
}

@media only screen and (max-width:960px) {
    #home {
        background-size: auto 100%;
        background-position: right;
    }

    .profile {
        width: 75%;
        height: auto;
        left: 15%;
    }
}